/*Apply to all document*/
* {
    font-family: 'PT Sans', sans-serif;
    padding:0px;
    margin:0px;
    text-align: center;
}

/* Apply to all the navbar */
nav {
    display: flex;   /*elements orientation to side*/ 
    flex-wrap: wrap;
    background-color: #230C33;
    height: 110px;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: flex-end;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
} 

/* Navbar first section*/
.myname a {
    font-family: 'Dosis', sans-serif;
    font-size: 180%;
    color: #04A777;
    padding-left: 10%;
    text-decoration: none;
}
/*Navbar second section*/
.options ul{
    display: flex;
    list-style: none;
  }

.options a {
    color: #04A777;
    font-size: 80%; 
    padding:20px;
    text-decoration: none;
    align-items: center;
}

.options li a:hover{
    color:#FB8B24; 
}  
 
#projects, #contact, #aboutme {
    /* max-width: 100%; */
    padding-top: 140px;
    height: auto;
} 

#salute{
    color: #820263;
    max-width: 100%;
    padding-top: 300px;
    height: 500px;
    line-height: 55px;
    margin-left:25%;
    margin-right: 25%;
}

#salute h4{
    color: #0c0b0b;
    padding-bottom: 20px;
}

#salute p {
    font-size: 180%;
}

#salute span {
    text-decoration: line-through;
}

#projects { 
    background-color: #820263;
}

.cards {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cards .card{
    background-color: white;
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.cards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.picture {
    width: 330px;
    height: 220px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;  
}

.header h5 {
    text-align: center;
}

.githlink img{
    width: 30px;
    height: 30px;
}

.picture{
   width: 250px;
   height: 180px;
}

.skills{
    display: flex; 
    color: #04A777;
    padding-bottom: 10px;
}

.skills h4 {
  padding: 15px;
}

.skills img {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.description p {
    padding: 10px;
}

.contacticons {
    display: flex;
    flex-wrap: wrap;
    color: #820263;
    padding-top: 140px;
    padding-bottom: 10%;
}


.logocontact img {
    width: 50px;
    height: 50px;
}

.contacticons .logocontact{
    width: 25%;
    /* height: 190px; */
    text-align: center;
}
.contacticons .logocontact:hover{
    transform: translateY(-15px);
}

.message{
    max-width: 100%;
    padding:5%;
    font-size: 200%;
    color: #820263;
}

.allaboutme {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: center;
    margin: auto;
}

#aboutme .allaboutme {
padding: 10%;
}

.mypic img {
    width: 80%;
    height: 90%;
}

.textaboutme {
    width: 450px;
    height: 400px;
    /* padding-left: 10%;  */
}

@media screen and (max-width:1023px){
 .textaboutme{
    padding-top: 10%;
 }  
 
 #aboutme .allaboutme {
    padding: 5%;
    flex-wrap: nowrap;
    }
 }

@media screen and (max-width:767px){
    /* .contacticons .logocontact {
        height: 240px;
} */

#aboutme .allaboutme {
    padding: 10%;
    flex-wrap: wrap;
    }

    .textaboutme {
        width: auto;
        height: auto;
    }   
 }


@media screen and (max-width:479px){
 
#salute {
    padding-top: 200px;
}

.contacticons {
    padding-top: 50px;
    padding-bottom: 20%;
}
}

@media screen and (max-width:319px){

    #salute {
         margin-left: 0%;
         margin-right: 0%; 
    }

    .picture {
        width: 80%;
        height: 50%;
    }

    .cards .card {
        height: auto;
}

.contacticons .logocontact {
    padding: 10%;
}

.contacticons {
    padding-top: 5px;
}



.logocontact img {
    width: 30px;
    height: 30px;
}

}
