/*Apply to all document*/
* {
    font-family: 'PT Sans', sans-serif;
    padding:0px;
    margin:0px;
    text-align: center;
}

/* Apply to all the navbar */
nav {
    display: flex;   /*elements orientation to side*/ 
    background-color: #230C33;
    height: 110px;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: flex-end;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
} 

/* Navbar first section*/
.myname a {
    font-family: 'Dosis', sans-serif;
    font-size: 180%;
    color: #04A777;
    padding-left: 10%;
    text-decoration: none;
}
/*Navbar second section*/
.options ul{
    display: flex;
    list-style: none;
   ;
  }

.options a {
    color: #04A777;
    font-size: 80%; 
    padding:20px;
    text-decoration: none;
    align-items: center;
}

.options li a:hover{
    color:#FB8B24; 
}  
 
#salute, #projects, #contact, #aboutme {
    max-width: 100%;
    margin-top: 250px;
    margin-bottom: 250px;   
} 

#salute{
    color: #820263;
    line-height: 55px;
    margin-left:25%;
    margin-right: 25%;
}

#salute h5{
    color: #0c0b0b;
    padding-bottom: 20px;
}

#salute span {
    text-decoration: line-through;
}

#projects {
    
    background-color: #820263;
    padding: 40px;
}

#cards {
    display: flex;
    background: white;
    padding:20px;
}
#card {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;  
}

.picture{
   width: 250px;
   height: 180px;
}

#skills{
    display: flex; 
    color: #04A777;
    padding-bottom: 20px;
}

#skills h6 {
    padding-right: 30px;
    padding-left: 30px;
}

#skills i {
    padding-right: 30px;
}

.fa-html5:before {
    color: #04A777;
}

#contacticons {
    display: flex;
    color: #820263;
}

.email, .cv, .github, .linkedin{
    padding: 5%;
    margin:5%;
}

.fa-envelope:before, .fa-download:before, .fa-github:before,.fa-linkedin:before {
    color: #820263;
}

hr {
   height: 40px;
   color: #230C33;
}

#aboutme {
    display: flex;
    padding: 40px;
}

#aboutme img {
    width:500px;
    height:500px ;
}

.textaboutme {
    padding: 5%;
}